@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}

.toggle {
  display: none;
}

.dol__one,
.dol__two,
.dol__three,
.dol__four {
  width: 300px;
}

.btn {
  background: none;
  border: none;
  font-family: "Merriweather", serif;
}

.nav__item.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(43, 243, 200, 0.63);
  bottom: -10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  padding: 2rem;
}

nav .logo {
  font-size: 1.3rem;
  font-weight: 900;
}

nav .navbar__nav .nav__item {
  margin: 0 1rem;
  position: relative;
}

nav .navbar__nav .nav__item .nav__link {
  font-size: 0.8rem;
  font-weight: 700;
}

nav .signup__btn {
  -webkit-box-shadow: 2px 6px 14px #00000036;
          box-shadow: 2px 6px 14px #00000036;
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 0.6rem;
}

main {
  overflow: hidden;
}

main .introduction {
  padding: 2rem 8rem;
  position: relative;
  text-align: center;
}

main .introduction h1 {
  font-size: 3rem;
  font-weight: 900;
}

main .introduction .intro__p {
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem auto;
  text-align: center;
}

main .introduction .intro__image {
  width: 100%;
  max-width: 45rem;
}

main .introduction .intro__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

main .introduction .intro__down .svg {
  position: absolute;
  opacity: 0.05;
  top: 20%;
  left: 20%;
  width: 300px;
}

main .introduction .intro__down .intro__down__hl__text {
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  padding: 0 1rem;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 300px;
  position: relative;
}

main .introduction .intro__down .intro__down__hl__text::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background: rgba(43, 243, 200, 0.63);
  bottom: -1.8rem;
  left: 1.5rem;
}

main .introduction .intro__down .intro__down__p__text {
  width: 60%;
  max-width: 500px;
  font-weight: 700;
}

main .introduction .intro__down .intro__down__p__text .upper {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.8;
}

main .introduction .intro__down .intro__down__p__text .lower {
  text-align: left;
  font-size: 0.7rem;
  line-height: 2;
}

main .introduction .dollar {
  position: absolute;
  opacity: 0.7;
  z-index: 4;
}

main .introduction .dol__one {
  top: 10%;
  left: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .introduction .dol__two {
  top: 20%;
  right: 10%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 16rem;
}

main .introduction .dol__three {
  bottom: 30%;
  right: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 10rem;
}

main .introduction .dol__four {
  bottom: 40%;
  left: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 12rem;
}

main .what__we__do {
  background: rgba(106, 134, 101, 0.13);
  padding: 2rem 8rem;
}

main .what__we__do .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .what__we__do .txt .hl__text {
  font-size: 2rem;
  font-weight: 300;
}

main .what__we__do .txt .p__text {
  font-weight: 700;
  position: relative;
}

main .what__we__do .txt .p__text::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background: rgba(43, 243, 200, 0.63);
  top: 50%;
  right: -40%;
}

main .what__we__do .box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

main .what__we__do .box__container .box {
  width: 18rem;
  height: 15rem;
  background: #f8f8f8;
  padding: 2rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.123);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.123);
  border-radius: 5px;
}

main .what__we__do .box__container .box .box__img .img {
  width: 3rem;
}

main .what__we__do .box__container .box p {
  font-size: 0.7rem;
  line-height: 1.8;
}

main .more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem;
  height: 100vh;
  background: #d6fcec;
}

main .more__container h1 {
  font-size: 3rem;
  font-weight: 300;
}

main .more__container div {
  max-width: 300px;
  text-align: left;
  line-height: 1.8;
  font-size: 0.8rem;
}

main .more__container div p {
  margin-top: 2rem;
}

main .gs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8rem 5rem;
  height: 100vh;
  background: #ffffffdc;
  background-image: url(/images/image-from-rawpixel-id-3892572-original.png);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: bottom right;
  background-blend-mode: color-burn;
}

main .gs__container h1 {
  font-size: 3rem;
  font-weight: 300;
}

main .gs__container div {
  max-width: 400px;
  text-align: left;
  line-height: 1.8;
  font-size: 0.8rem;
}

main .gs__container div p {
  margin-top: 2rem;
}

main .gs__container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gs__container .buttons .btn {
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.226);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.226);
}

main .gs__container .buttons .btn__one {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #e9fce8;
}

main .gs__container .buttons .btn__one a {
  font-size: 0.6rem;
}

main .gs__container .buttons .btn__one a span {
  font-size: 1.2rem;
  font-weight: bold;
}

main .gs__container .buttons .btn__two {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #a3d3a1;
}

main .gs__container .buttons .btn__two a {
  font-size: 0.8rem;
}

main .gs__container .buttons .btn__two a span {
  font-size: 1.2rem;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .toggle {
    display: block;
  }
  .navbar__nav {
    display: none;
  }
  .signup__btn {
    display: none;
  }
  main .introduction {
    padding: 2rem;
  }
  main .introduction .intro__down .intro__down__hl__text {
    margin: auto auto 3rem;
  }
  main .introduction .intro__down .intro__down__p__text {
    margin: auto;
  }
  main .introduction .dollar {
    display: none;
  }
  main .what__we__do {
    padding: 2rem;
  }
  main .gs__container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
