@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// ---------- FONT ---------- \\

$font-merri: "Merriweather", serif;
$font-poppins: "Poppins", sans-serif;

// ---------- COLOR ---------- \\

$colo-main: rgba(106, 134, 101, 0.13);
